#main-content {
    margin: 20px auto;
    margin-bottom: 50px;

    #about-me {
        margin-left: 2vw;

        svg {
            transform: scale(0.70);
        }
    }

    #intro-image {
        float: left;
        display: block;
        width: 30%;
        border-radius: 1em;
        margin: 1em;
        margin-bottom: 0;
        margin-left: 0;
    }

    .intro-blurb {
        margin: 0.75em 0;
        margin-right: 0.75em;
        font-size: 1.1em;
    }

    .column {
        padding: 0;
    }

    #bcol {
        justify-content: center;
        display: flex;
    }

    #divider {
        width: 80%;
        margin: 3em auto;
    }

    a.button {
        font-size: 1.5em;
        width: 13em;
        height: 7em;
    }

    a.button,
    a.button svg {
        @include transition(0.3s);
    }

    .dark-theme a.button:hover,
    a.button:hover {
        background-color: $sky_blue;
        color: $dark_grey;

        svg {
            color: $dark_grey;
        }
    }

    .dark-theme a.button {
        color: hsl(0, 0%, 70%);
        background-color: $dark-mode-color;
    }

}

@media screen and (min-width:1408px) {
    #main-content {
        max-width: $intro_width;
    }
}

@media screen and (max-width:1408px) {
    #main-content {
        max-width: $intro_width
    }
}

@media only screen and (max-width:1023px) {
    #main-content {
        padding-left: 1em;
        max-width: $intro_width;
    }
}

@media only screen and (max-width: 769px) {

    #main-content {

        padding-left: 0em;

        #about-me {
            font-size: 1.8em;
        }

        #intro-image {
            display: none;
        }

        #image-col {
            display: none;
        }

        .intro-blurb {
            margin-left: 5vw;
        }

        a.button {
            font-size: 1.5em;
            width: 75vw;
            height: 4.5em;
        }

        #bcol {
            margin-bottom: 40px;
        }

    }

}