#navbar {
    @extend %sticky;
    @extend %light-bottom-shadow;
    background-color: white;
}

#navbar.dark-theme {
    @extend %dark-bottom-shadow;
}

#navbar-container {
    text-align: center;
    width: 100%;
    @extend %display-flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

#navbar-container.dark-theme {
    background-color: $dark_mode_color;
}

#navbar-button-wrapper {
    @extend %display-flex;
    flex-direction: row;
}

#navbar-space-fill {
    flex-grow: 1;
}

#navbar-button {
    text-align: right;
    display: none;
    width: fit-content;
    cursor: pointer;

    a p {
        padding: 1em 1em;
    }
}

#dark-toggle {
    @extend %display-flex;
    flex-direction: row;
    justify-self: center;
    align-self: flex-start;
    color: $near_black;
    padding: 1em 1.5em;
    height: 100%;
    width: 100%;

    svg {
        margin: auto;
    }
}

#dark-toggle-wrapper {
    @extend %display-flex;
    align-content: center;
}

#dark-toggle-container {
    @extend %display-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
}

.navbar-item {
    @extend %display-flex;
    flex-direction: row;
    vertical-align: middle;
    justify-items: right;

    p {
        margin: auto 0 auto auto;
    }

    svg {
        order: -1;
    }
}

a.navbar-item:hover {
    background-color: $light_grey;
    color: initial;
}

.nav-icon {
    margin: 0.7rem;
}

/* Tablet size and smaller */
@media only screen and (max-width: 1023px) {
    #navbar-container {
        flex-direction: column;
        justify-content: right;
        display: none;
    }

    #navbar-button {
        display: inline-block;
    }

    #dark-toggle {
        padding: 0;
        // Same dimensions as the burger
        height: 3.25rem;
        width: 3.25rem;
    }

    .navbar-item {
        margin-left: 0px;
        margin-right: 0px;
        flex: 1;

        svg {
            order: 1;
        }
    }

    .navbar-item:hover {
        @include box-shadow(0 0 0 0);
    }

    a.navbar-item:hover {
        @include box-shadow(0 0 0 0);
        background-color: #c4c4c4;
        color: initial;
    }

}