// Page configuration parameters
$title_image_fade_dur: 0.7s;
$title_image_fade_delay: 1s;
$profile_image_fade_dur: 0.8s;
$header_text_fade_dur: 0.8s;
$header_text_fade_delay: $title_image_fade_dur+$title_image_fade_delay;
$profile_image_fade_delay: $header_text_fade_delay - 0.3s;
$chevron_fade_delay: $header_text_fade_dur+$header_text_fade_delay - 0.5s;

$dark_mode_transition_dur: 0s;

$sky_blue: hsl(204, 86%, 53%);
$link_blue: hsl(217, 71%, 53%);
$off_white: hsl(0, 0%, 90%);
$light_grey: hsl(0, 0%, 84%);
$grey: hsl(0, 0%, 72%);
$near_black: hsl(0, 0%, 12%);
$dark_mode_color: hsl(0, 0%, 18%);

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }

    -webkit-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transform-style($property) {
    -webkit-transform-style: $property;
    transform-style: $property;
}

@mixin animation-timing-function($property) {
    -webkit-animation-timing-function: $property;
    animation-timing-function: $property;
}

@mixin transition($dur) {
    -webkit-transition: $dur;
    transition: $dur;
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    box-shadow: $property;
}

%display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@include keyframes(fade-in-top) {
    0% {
        @include transform(translateY(-50px));
        opacity: 0;
    }

    100% {
        @include transform(translateY(0px));
        opacity: 1;
    }
}

@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframes(fade-in-from-below) {
    0% {
        @include transform(translateZ(-80px));
        opacity: 0;
    }

    100% {
        @include transform(translateZ(0));
        opacity: 1;
    }
}

/*@include keyframes(pop-in) { 
    0% {
        @include transform(scale(0));
        @include animation-timing-function(ease-in);
        opacity: 0;
    }
    60% {
        @include transform(scale(1));
        @include animation-timing-function(ease-out);
        opacity: 1;
    }
    77% {
        @include transform(scale(0.7));
        @include animation-timing-function(ease-in);
        opacity: 1;
    }
    100% {
        @include transform(scale(1));
        @include animation-timing-function(ease-out);
        opacity: 1;
    }
} */

%fade-in-top {
    @include animation('fade-in-top ' + $header_text_fade_dur + ' cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards');
}

%fade-in-from-below {
    @include animation('fade-in-from-below ' + $profile_image_fade_dur + ' cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards');
}

%sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.top-level {
    z-index: 9999;
}

.transition {
    transition: color $dark_mode_transition_dur, background-color $dark_mode_transition_dur;
}

%light-bottom-shadow {
    @include box-shadow(0 2px 4px hsla(0, 0%, 4%, 0.2));
}

%dark-bottom-shadow {
    @include box-shadow(0 2px 4px hsla(0, 0%, 4%, 0.55));
}

.dark-html {
    background-color: $dark_mode_color;
}

.dark-theme {
    background-color: $dark_mode_color;

    h1,
    h2,
    p,
    li,
    hr {
        color: white;
    }

    svg,
    span {
        color: $off_white;
    }
}