.navbar-item, #navbar-button-wrapper, #navbar-container, #title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#scrolldown, #header {
  -webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
  animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#navbar {
  -webkit-box-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.2);
}

.top-level {
  z-index: 9999;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: white;
}

#title-bg-image-blur::after, #title-bg-image-blur {
  -webkit-animation: fade-in 0.7s 1s forwards;
  animation: fade-in 0.7s 1s forwards;
  opacity: 0;
}

#title-container {
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#title-bg-image {
  background-image: url("northcampus_small.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title-bg-image-blur {
  background-image: url("northcampus_small_blur.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title-bg-image-blur::after {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

#header {
  animation-delay: 1.7s;
  opacity: 0;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 20px;
}

#header-body {
  padding: 2em 1.5em;
}
#header-body h1, #header-body h2 {
  text-align: center;
}

.header-icon-wrapper {
  width: auto;
}

.header-icon {
  font-size: 2.5rem;
  color: whitesmoke;
  margin-left: 1vw;
  margin-right: 1vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-icon:hover {
  color: #209cee;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#scrolldown {
  animation-delay: 2s;
  opacity: 0;
  text-align: center;
  align-self: center;
  font-weight: lighter;
  position: relative;
  padding: 0.5em 1em 0 1em;
  border-radius: 20px 20px 0 0;
}

#scrolldown a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#chevron {
  font-size: 2rem;
}

#navbar {
  background-color: white;
}

#navbar-container {
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

#navbar-button-wrapper {
  flex-direction: row;
}

#navbar-space-fill {
  flex-grow: 1;
}

#navbar-button {
  text-align: right;
  display: none;
  width: fit-content;
  cursor: pointer;
}
#navbar-button a p {
  padding: 1em 1em;
}

.navbar-item {
  flex-direction: row;
  vertical-align: middle;
  justify-items: right;
}
.navbar-item p {
  margin: auto 0 auto auto;
}
.navbar-item svg {
  order: -1;
}

a.navbar-item:hover {
  background-color: #d6d6d6;
  color: initial;
}

.nav-icon {
  margin: 0.7rem;
}

/* Tablet size and smaller */
@media only screen and (max-width: 1023px) {
  #navbar-container {
    flex-direction: column;
    justify-content: right;
    display: none;
  }

  #navbar-button {
    display: inline-block;
  }

  .navbar-item {
    margin-left: 0px;
    margin-right: 0px;
    flex: 1;
  }
  .navbar-item svg {
    order: 1;
  }

  .navbar-item:hover {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  a.navbar-item:hover {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    background-color: #c4c4c4;
    color: initial;
  }
}
#main-content {
  background-color: white;
}

hr.dim {
  color: black;
  margin: 0.2em 0 1em 0;
  background-color: #b8b8b8;
  height: 1px;
}

.category {
  font-weight: bolder;
  font-size: 1.5em;
}

.entry {
  font-size: 1rem;
  display: grid;
  grid-gap: 0px;
  margin-bottom: 1em;
  white-space: normal;
}
.entry a {
  text-decoration: underline;
}
.entry .e-title {
  font-weight: bold;
  font-size: 1.3em;
  grid-column: 1;
  grid-row: 1;
}
.entry .e-date {
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}
.entry .e-subtitle {
  font-style: italic;
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 2em;
}
.entry .e-coursework {
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 2em;
}
.entry .e-gpa {
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 2em;
}
.entry .desc {
  grid-column-start: 1;
  grid-column-end: 3;
}
.entry .desc li {
  list-style: disc;
  margin-left: 3em;
}
.entry .desc h2 {
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .entry .e-title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .entry .e-date {
    white-space: nowrap;
    grid-row: 2;
    color: #6e6e6e;
    font-weight: normal;
    font-size: 1.1em;
  }
  .entry .e-subtitle {
    margin: 0 0 0.25em 0;
  }
  .entry .e-coursework {
    margin: 0 0 0.25em 0;
  }
  .entry .e-gpa {
    margin: 0 0 0.25em 0;
  }
  .entry .desc li {
    margin: 0 0 0.6em 1.5em;
  }
  .entry hr.dim {
    width: 100%;
  }
}
@media screen and (min-width: 1408px) {
  .container {
    max-width: 960px;
  }
}
footer {
  background-color: #1f1f1f;
  display: block;
  width: 100%;
  height: 100px;
}
footer p {
  color: white;
  grid-column: 1;
}
footer .section {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: grid;
}
footer .top-link {
  grid-column: 2;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
